body {
    background-color: black;
}

#main_header {
    position: absolute;
    width: 693px;
    height: 113px;
    left: 382px;
    top: 200px;

    font-family: Rokkitt;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 109px;
    text-align: center;

    color: #F1EEEE;

    -webkit-text-stroke: 3px #844D4D;
}

.create_room {
    position: absolute;
    width: 231px;
    height: 63px;
    left: 613px;
    top: 427px;
    cursor: pointer;
    background: #FFFFFF;
    border-radius: 5px;
    text-align: center;

    font-family: Rokkitt;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    text-align: center;

    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.join_room {
    position: absolute;
    width: 231px;
    height: 63px;
    left: 613px;
    top: 500px;
    cursor: pointer;
    background: #FFFFFF;
    border-radius: 5px;

    text-align: center;

    font-family: Rokkitt;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    text-align: center;

    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mafia_pic {
    position: absolute;
    left: 5%;
    top: 600px;

}