*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("/static/room/img/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    align-items: center;
    height: 90%;
}

.top_header {
    background: #000;
    opacity: 0.5;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.room-id {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.exit {
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #E0E0E0;
    border: 3px solid rgba(0, 0, 0, 0.5);
    background-color: Transparent;
    background-repeat: no-repeat;
    width: auto;
    height: 80px;
}

.table {
    position: absolute;
    width: 976px;
    height: 509px;
    border-radius: 272px;
    background-image: url("/static/room/img/table.png");
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


.options {
    position: absolute;
}

.card {
    width: 180px;
    height: 120px;
}

video {
    position: absolute;
    object-fit: cover;
    width: 250px;
    height: 150px;
    top: 15%;
    left: 0;
    text-align: center;
    border-radius: 10px
}

.video_element {
    position: relative;
    width: 250px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.role {
    position: relative;
    background: black;
    font-weight: bold;
    font-family: Book Antiqua;
    font-size: 15px;
    color: #FFFFFF;
    margin: 0;
}


.c0 {
    top: -20%;
}

.c1 {
    top: -55%;
    left: 40%;
}

.c2 {
    top: -50%;
    left: 50%;
}

.c3 {
    top: -48%;
    left: 40%;
}

.c4 {
    top: -80%;
}

.c5 {
    top: -125%;
    right: 40%;
}

.c6 {
    bottom: 205%;
    right: 55%;
}

.c7 {
    top: -290%;
    left: -40%;
}

.options {
    display: flex;
    position: relative;
    width: 100px;
    height: 31px;
    background: #B19044;
    left: 75px;
    top: -31px;
}

.close {
    background: url("/static/room/img/close.png") no-repeat scroll 0 0 transparent;
    position: relative;
    width: 50px;
    height: 23px;
    margin: 5px;
}

.micro {
    background: url("/static/room/img/micro.png") no-repeat scroll 0 0 transparent;
    position: relative;
    width: 50px;
    height: 23px;
    margin: 5px;
}

.film {
    background: url("/static/room/img/cam.png") no-repeat scroll 0 0 transparent;
    position: relative;
    width: 70px;
    height: 23px;
    margin: 3px;
}

.bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: black;
    height: 500px;
    width: 250px;
}

.gear {
    background: url("/static/room/img/settings.png") no-repeat scroll 0 0 transparent;
    width: 70px;
    height: 70px;
    right: 0;
    bottom: 0;
    position: absolute;
}

.menu button {
    display: block;
    top: -100px;
    width: 250px;
    height: 100px;
    background: no-repeat scroll 0 0 transparent;
    color: white;
    font-family: Book Antiqua;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
}