<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/home/css/stylesheet.css">
    <script src="/home/js/libs/jquery-3.5.1.js"></script>
    <script src="/home/js/join.js"></script>
</head>
<body>
<h1 id="main_header">MAFIA ONLINE</h1>
<button class="create_room" type="button">CREATE ROOM</button>
<label>
    <input class="roomId">
    <button class="joinRoom" type="button">JOIN ROOM</button>
</label>
<img class="mafia_pic" src="/home/img/logo.jpg">
</body>
</html>