<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/home/css/home.css">
    <script>
        let onError = ('<%= onerror%>' === 'true');
        if (onError) {
            alert('Комната несуществует.')
        }
    </script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/static/home/js/helper.js"></script>
</head>
<body>
<div class="main">
    <div class="main_header">
        <h1 class="mafia-online">MAFIA ONLINE</h1>
    </div>
    <div class="buttons">
        <button class="create_room" type="button">CREATE ROOM</button>
        <button class="join_room" type="button">JOIN ROOM</button>
    </div>
</div>
<div class="bottom">
    <img class="mafia_pic" src="/static/home/img/logo.jpg">
</div>
</body>
</html>