<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/home/css/stylesheet.css">
</head>
<body>
<h1 id="main_header">MAFIA ONLINE</h1>
<button class="create_room" type="button">CREATE ROOM</button>
<button class="join_room" type="button">JOIN ROOM</button>
<img class="mafia_pic" src="/home/img/logo.jpg">
</body>
</html>