<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/home/css/home.css">
    <script src="scripts/jquery/dist/jquery.min.js"></script>
    <script src="/home/js/helper.js"></script>
</head>
<div class="main">
    <div class="main_header">
        <h1 class="mafia-online">MAFIA ONLINE</h1>
    </div>
    <div class="buttons">
        <button class="create_room" type="button">CREATE ROOM</button>
        <button class="join_room" type="button">JOIN ROOM</button>
    </div>
</div>
<div class="bottom">
    <img class="mafia_pic" src="/home/img/logo.jpg">
</div>
</body>
</html>