<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/room/css/room.css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script>
        let ROOM_ID = '<%= room_id %>'
    </script>
    <script src="/static/room/js/default-peer.js"></script>
</head>
<body>
<div class="top_header">
    <img class="logo" src="/static/room/img/mafia_pic.jpg">
    <h1 class="room-id">RoomID: <%= room_id %></h1>
    <button class="exit">Выйти</button>
</div>
<div class="table">
    <div class="video_element c0 text-center"></div>
    <div class="video_element c1 text-center"></div>
    <div class="video_element c2 text-center"></div>
    <div class="video_element c3 text-center"></div>
    <div class="video_element c4 text-center"></div>
    <div class="video_element c5 text-center"></div>
    <div class="video_element c6 text-center"></div>
    <div class="video_element c7 text-center"></div>
</div>
</body>
</html>