<!doctype html>
<html lang="ru">
<head>
    <script src="scripts/jquery/dist/jquery.min.js"></script>
    <script>var DEFAULT_CHANNEL = '<%= roomID %>';</script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="static/js/defaultRTC.js"></script>

    <link rel="stylesheet" href="static/css/room.css">
    <title><%= title %></title>
</head>
<body onload='init()'>
<div class="top_header">
    <img class="logo" src="/room/static/img/mafia_pic.jpg">
    <button class="exit">Вийти</button>
</div>
<div class="table">
    <div class="cam0" style="visibility: hidden"></div>
    <div class="cam1" style="visibility: hidden">
    </div>
    <div class="cam2" style="visibility: hidden">
    </div>
    <div class="cam3" style="visibility: hidden">
    </div>
    <div class="cam4" style="visibility: hidden">
    </div>
    <div class="cam5" style="visibility: hidden">
    </div>
    <div class="cam6" style="visibility: hidden">
    </div>
    <div class="cam7" style="visibility: hidden">
    </div>
</div>
</body>
</html>
