<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="scripts/simplewebrtc/out/simplewebrtc-with-adapter.bundle.js"></script>
    <script src="scripts/jquery/dist/jquery.min.js"></script>
    <script src="static/js/apprtc.js"></script>
</head>
<body>
<video id="localVideo" style="width: 250px; height: 150px;" autoplay></video>
<!--<video id="cam2" style="width: 250px; height: 150px; background: #000000"></video>-->
<!--<video id="cam3" style="width: 250px; height: 150px; background: #000000"></video>-->
<!--<video id="cam4" style="width: 250px; height: 150px; background: #000000"></video>-->
<!--<video id="cam5" style="width: 250px; height: 150px; background: #000000"></video>-->
<!--<video id="cam6" style="width: 250px; height: 150px; background: #000000"></video>-->
<!--<video id="cam7" style="width: 250px; height: 150px; background: #000000"></video>-->
<div class="presenterMenu">
    <button class="setNight">SET NIGHT</button>
    <button class="setDat">SET DAY</button>
    <button class="startGame">START GAME</button>
    <button class="endGame">END GAME</button>
    <button class="leave">Leave</button>
</div>
</body>
</html>